.tntRCHeader {
	background-color: #ffffff;
	background-image: url(../../images/tnt/relaisColis/logo_24_relaiscolis.jpg);
	background-position: 10px center;
	background-repeat: no-repeat;
	border-color: gray;
	border-style: solid;
	border-width: 0px;
	color: #98cb3e;
	display: bloc;
	font-family: arial,helvetica,sans-serif;
	font-size: 30pt;
	font-style: normal;
	height: 75px;
	padding-right: 10px;
	padding-top: 25px;
	text-align: right;
	width: 590px;
}

.tntRCSubHeader {
	background-color: #ffffff;
	border-width: 0px;
	color: #676767;
	display: bloc;
	font-family: arial,helvetica,sans-serif;
	font-size: 11pt;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 3px;	
	width: 100%;
}

.tntRCBody {
	background-color: #FFFFFF;
    border: 1px solid #808080;
    color: #676767;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    padding-bottom: 0px;
    padding-top: 0px;    
}

.tntRCBodySearch {
	background-color: #ffffff;
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	color: #676767;
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-left: 3px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;
}

.tntRCBodySearch td:first-child {
    width: 30% !important;
}
.tntRCBodySearch td:nth-child(2) {
    width: 20%;
}
.tntRCBodySearch td:nth-child(2) input {
    width: 95%;
}
.tntRCBodySearch td:last-child {
    width: 37%;
}

.tntRCError {
	background-color: #ff6600;
	color: #ffffff;
	display: bloc;
	font-family: arial,helvetica,sans-serif;
	font-size: 12pt;
	font-weight: bold;
	width: 100%;	
}

.tntRCGray {
	background-color: #a0a0a0;
	border-width: 0px;
	display: bloc;
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;	
	height: 25px;	
}

.tntRCInput {
	background-color: #FFFFFF;
    border: 1px solid #676767;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 50px;
    color: #A0A0A0;
}

.tntRCWhite {
	background-color: #ffffff;
	border-width: 0px;
	display: block;
	font-family: arial,helvetica,sans-serif;
	font-size: 14pt;
	width: 100%;
}

.tntRCrelaisColis {
	font-family: arial,helvetica,sans-serif;
	font-size: 10px;
	color: #000000;
	border-bottom-style: solid;
	border-bottom-color: #a0a0a0;
	border-bottom-width: 1px;	
	background-color: #ffffff;
	padding-bottom: 3px;	
	vertical-align: middle;
}
		
.tntRCtitreMode {
	font-family: arial,helvetica,sans-serif;
	font-size: 28px;
	color: #a0a0a0;
	font-style: italic;
	background-color: #ffffff; 	
}
.tntRCchoix {
	font-family: arial,helvetica,sans-serif;
	font-size: 14px;
	color: #a0a0a0;
	font-weight: bold;
	background-color: #ffffff;
}	
.tntRCdetailGros {
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	color: #676767;
	background-color: #ffffff;
	font-weight: bold;
}

.tntRCnoirPetit {
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	color: #676767;
	background-color: #ffffff;
}	
.tntRCdetailPetit {
	font-family: arial,helvetica,sans-serif;
	font-size: 12pt;
	color: #676767;
	background-color: #ffffff;
	font-weight: bold;
}	
.tntRCentree {
	font-family: arial,helvetica,sans-serif;
	font-size: 12pt;
	color: #000000;
	background-color: #ffffff;
	vertical-align: middle;
}	
.tntRCgris {
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	color: #ffffff;
	background-color: #676767;
	font-weight: bold;
}

table.tntRCHoraire td {
	border: 1px solid gray;
	font-family: arial,helvetica,sans-serif;
	font-size: 8pt;
	vertical-align: middle;
}

.tntRCHoraireJour{
	color: #676767;
	text-align: right;
	padding-right: 10px;
	height: 30px;
	width: 79px;
	font-weight: bold;
}

.tntRCHoraireHeure {
	color: #000000;
	padding-left: 10px;			
	width: 84px;
}				

.tntRCblanc {
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #ffffff;
	padding-top: 4px;
	padding-bottom: 3px;	
	text-align:center;
}			
.tntRCblancpetit {
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #ffffff;
	padding-top: 4px;
	padding-bottom: 3px;					
}	
.tntRCfermeture {
	padding-left: 585px;
}

.tntRCBack2Communes {
	background-color: #ffffff;
	color: #676767;
	font-family: arial,helvetica,sans-serif;
	font-style: italic;
	font-size: 11pt;
	font-weight: bold;
	padding-top: 18px;
	text-align: right;
}

.tntRCBack2Communes a {
	color: #676767;
	text-decoration: none;
	padding-right: 5px;
}

.tntRCBack2Communes a img{
	border: 0;
	padding-right: 5px;
	vertical-align: text-bottom;
}

.tntRCBoutonLoupe {
	background-color: #ffffff;
	border: 0px;	
	color: #000000;
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 3px;	
	text-decoration: none;
	vertical-align: middle;
}	
.jqmWindow {
	background-color: #FFF;
	border: 1px solid black;
	color: #333;
	display: none;
	padding: 12px;
	position: fixed;
	left: 50%;
	margin-left: -300px;
	margin-top: -240px;
	width: 600px;
}

div.tntRCfermeture .jqmClose em{display:none;}
div.tntRCfermeture .jqmClose {
	background: transparent url(../../images/tnt/relaisColis/close_icon_double.png) 0 0 no-repeat;
	display: block;
	width: 20px;
	height: 20px;
}

div.tntRCfermeture a.jqmClose:hover{ background-position: 0 -20px; }

.jqmOverlay { 
	background-color: #000; 
	overflow: hidden;
}

* html .jqmWindow {
	position: absolute;
	top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

img.tntRCButton {
	border: 0px;
	vertical-align: middle;
	text-decoration: none;
}

sup.tntRCSup {
	
}
	
	table.horairesRC td {
		width : 100%;
		margin: 0px;
		padding: 0px;
	}
	
	table.horairesRCPopup {
		width : 100%;
		margin: 0px;
		padding: 0px;
	}
	
	table.horairesRCPopup tr.selected td {
		background-color: #eeeeee;
		color: #9acb3c;
	}
	
	td.horaireRCPopup {
		width : 60%;
	}
	
	td.horairesRCJourPopup {
		width : 40%;
		font-weight: bold;
		color: #808080;
	}
	
	td.horairesRCJour {
		font-weight: bold;
		color: #808080;
	}
	table.horairesRC tr.selected td {
		background-color: #eeeeee;
		color: #ff6600;
	}
	
	div.ag {
		background-image: url(../../images/tnt/relaisColis/google/agenceTnt.png); 
		background-repeat: no-repeat;
		padding-left:60px;
	}

	div.rc {
		background-image: url(../../images/tnt/relaisColis/google/relaisColis2.png); 
		background-repeat: no-repeat;
		padding-left:95px;
	}

	
.lien_reset {
	color : #787878;
	font-family: arial,helvetica,sans-serif;
	font-weight: bold;
	font-size : 11px;
	text-decoration:none;
}

a {
	color: #999;
	outline-color: #999 !important;
	outline: none;
}
				
a:hover {
	text-decoration: none;
}

.exemplePresentation {
	display: inline; 
	float: right;
	margin-top: 10px;
}

#tntB2CRelaisColis {
	width: 43%;
	float:left;
}

#promoRelaisColis {	
    position: absolute;
    top:130px;
    width:365px;
    height:384px;
    left:10px;
}

#promoRelaisColis .logo {
	height:73px;
}

#promoRelaisColis .logo .image, #promoRelaisColis .logo .desc {
	float:left;
}

#promoRelaisColis .logo .image {
	width:140px;
}

#promoRelaisColis .logo .desc {
	font-family: verdana,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 0 0;
    width: 240px;
}

#promoRelaisColis .description {
	clear: left;
    font-family: verdana,sans-serif;
    font-size: 18px;
    margin-top: 40px;
}

@media screen and (max-width: 700px) {
    #tntBodyContentSC {
        font-size: 11px;
    }
    #tntB2CRelaisColis,
    .tntB2CRelaisColis {        
        width: 100%;
    }
    #promoRelaisColis {
        position: relative;
        clear: both;
        padding-top: 20px;
        top: 0;
        width: 100%;
        height: auto;
        left: 0;
        text-align: center;
    }
    #map_canvas {
        display: none;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .tntRCBoutonLoupe {
        display: none;
    }
}