<?xml version="1.0"?>

<config>
    <modules>
        <Infostrates_Tnt>
            <version>3.0.14</version>
            <depends>
				<Mage_Adminhtml />
				<Mage_Shipping />
			</depends>
        </Infostrates_Tnt>
    </modules>
    <global>
        <resources>
            <tnt_setup>
                <setup>
                    <module>Infostrates_Tnt</module>
                    <class>Infostrates_Tnt_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
            		<use>core_setup</use>
        		</connection>                
            </tnt_setup>
            <tnt_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tnt_write>
            <tnt_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tnt_read>
        </resources>
        <blocks>
            <tnt>
            	<class>Infostrates_Tnt_Block</class>
            </tnt>
            <adminhtml>
				<rewrite>										
					<sales_order_shipment_view>Infostrates_Tnt_Block_Sales_Order_Shipment_View</sales_order_shipment_view>
				</rewrite>
			</adminhtml>
        </blocks>                
        <helpers>
            <tnt>
                <class>Infostrates_Tnt_Helper</class>
            </tnt>
        </helpers>
        <models>
            <tnt>
                <class>Infostrates_Tnt_Model</class>
            </tnt>            
        </models>
        <sales>
            <shipping>
                <carriers>
                    <tnt>
                        <class>Infostrates_Tnt_Model_Shipping_Carrier_Tnt</class>
                    </tnt>                    
                </carriers>
            </shipping>            
        </sales>
        <rewrite>
			<infostrates_tnt_sales_order_shipment>
				<from><![CDATA[#^/.*sales_order_shipment/save/#]]></from>
				<to>/tnt/sales_order_shipment/save/</to>
			</infostrates_tnt_sales_order_shipment>
		</rewrite>
		
		<fieldsets>
			<sales_copy_order_billing_address>
				<tnt_infos_comp><to_order>*</to_order></tnt_infos_comp>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
				<tnt_infos_comp><to_order>*</to_order></tnt_infos_comp>
            </sales_copy_order_shipping_address>
			<sales_convert_quote_address>
				<tnt_infos_comp><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></tnt_infos_comp>        
            </sales_convert_quote_address>
			<sales_convert_order_address>
				<tnt_infos_comp><to_quote_address>*</to_quote_address></tnt_infos_comp>
			</sales_convert_order_address>
			<customer_address>
				<tnt_infos_comp><to_quote_address>*</to_quote_address></tnt_infos_comp>
            </customer_address>
        </fieldsets>
    </global>
    <adminhtml>    	
        <menu>
            <sales translate="title" module="tnt">
                <title>Sales</title>
                <sort_order>20</sort_order>
                <depends><module>Mage_Sales</module></depends>
                <children>
                    <tnt translate="title" module="sales">
                        <title>TNT</title>
                        <sort_order>31</sort_order>
						<children>
							<impression translate="title" module="sales">
								<title>Suivi des expéditions TNT</title>
								<action>tnt/sales_impression</action>
								<sort_order>10</sort_order>
							</impression>
						</children>
                    </tnt>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<sales translate="title" module="sales">
							<title>Sales</title>
							<sort_order>20</sort_order>
							<children>
								<tnt translate="title" module="sales">
									<title>TNT</title>
									<sort_order>31</sort_order>
									<children>
										<impression translate="title" module="sales">
											<title>Suivi des expéditions TNT</title>
											<sort_order>10</sort_order>
										</impression>
									</children>
								</tnt>
							</children>
						</sales>
					</children>
				</admin>
			</resources>
		</acl>		
    </adminhtml>
    <stores>
		<admin>
			<design>
				<theme>
					<default>tnt</default>
				</theme>
			</design>
		</admin>
	</stores>
    <admin>
        <routers>
            <tnt>
                <use>admin</use>
                <args>
                    <module>Infostrates_Tnt</module>
                    <frontName>tnt</frontName>
                </args>
            </tnt>
        </routers>
    </admin>
    <frontend>
    	<layout>
            <updates>
                <tnt module="Infostrates_Tnt">
                    <file>tnt.xml</file>
                </tnt>
            </updates>
        </layout>
        <routers>
	    	<tnt>
	        <use>standard</use>
	        <args>
	        	<module>Infostrates_Tnt</module>
	        	<frontName>tnt</frontName>
	        	</args>
	    	</tnt>
	    </routers>
        <translate>
            <modules>
                <Infostrates_Tnt>
                    <files>
                        <default>Infostrates_Tnt.csv</default>
                    </files>
                </Infostrates_Tnt>
            </modules>
        </translate>
    </frontend>

    <default>
        <carriers>            
            <tnt>                
                <active>0</active>                                          
                <label_format>STDA4</label_format>
                <tracking_url>http://www.tnt.fr/public/suivi_colis/recherche/visubontransport.do?bonTransport=</tracking_url>                
                <tnt_max_weight>60</tnt_max_weight>
                <J_amount>10:23.90,20:52.30,1000:99</J_amount>
                <JZ_amount>10:23.90,20:52.30,1000:99</JZ_amount>
                <JD_amount>10:23.90,20:52.30,1000:99</JD_amount>                
                <J_free>0</J_free>                
                <JZ_free>0</JZ_free>
                <JD_free>0</JD_free>
                <corse_amount>19</corse_amount>
                <corse_free>0</corse_free>                
                <model>tnt/shipping_carrier_tnt</model>                
                <specificerrmsg>Ce mode d'expédition n'est pas disponible. Si vous souhaitez l'utiliser contactez nous.</specificerrmsg>                
            </tnt>            
        </carriers>
    </default>
</config>
