<?xml version="1.0"?>

<config>
    <sections>
        <carriers>
            <groups>                
                <tnt translate="label" module="usa">
                    <label>TNT Express</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>12</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>                        
                        <gateway_url translate="label">
                            <label>Gateway URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </gateway_url>
                        <tracking_url translate="label comment">
                            <label>URL de tracking TNT</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </tracking_url>
                        <account translate="label comment">
                            <label>Numéro de compte client TNT</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Uniquement des chiffres</comment>
                        </account>
                        <identifiant translate="label comment">
                            <label>Identifiant MyTNT</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Adresse email</comment>
                        </identifiant>
                        <mdp translate="label comment">
                            <label>Mot de passe MyTNT</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </mdp>
                        <raison_sociale translate="label comment">
                            <label>Raison sociale</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </raison_sociale>
                        <adresse translate="label comment">
                            <label>Adresse d'expédition</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </adresse>
                        <adresse2 translate="label comment">
                            <label>Complément d'adresse d'expédition</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>                            
                        </adresse2>
                        <code_postal translate="label comment">
                            <label>Code postal</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </code_postal>
                        <ville translate="label comment">
                            <label>Ville</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </ville>                        
                        <label_format>
                        	<label>Format d'étiquette</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tnt/shipping_carrier_tnt_source_labelformat</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </label_format>
                        <tnt_max_weight>
                        	<label>Poids maximum pour TNT</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tnt/shipping_carrier_tnt_source_tntmaxweight</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>                            
                            <comment>Au dessus de ce poids les produits TNT de seront pas proposés au client</comment>
                        </tnt_max_weight>
		                <JZ_amount>
                        	<label>TNT 24h à Domicile</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Soit un montant unique ex : 15.99. Soit au format poids panier/prix ex : 10:23.90,20:52.30,1000:99. Soit au format montant panier/prix ex : 20€:5.90,40€:9.90,150€:15.90</comment>
                        </JZ_amount>
                        <JZ_free>
                        	<label>Minimum d'achat pour TNT 24h à Domicile offert</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
							<comment>ex : 150</comment>
                        </JZ_free>
		                <J_amount>
                        	<label>TNT 24h Entreprise</label>
                            <frontend_type>text</frontend_type>                            
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Soit un montant unique ex : 15.99. Soit au format poids panier/prix ex : 10:23.90,20:52.30,1000:99. Soit au format montant panier/prix ex : 20€:5.90,40€:9.90,150€:15.90</comment>
                        </J_amount>
                        <J_free>
                        	<label>Minimum d'achat pour TNT 24h Entreprise offert</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment>ex : 150</comment>                            
                        </J_free>
                        <JD_amount>
                        	<label>TNT 24h en Relais Colis®</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Soit un montant unique ex : 15.99. Soit au format poids panier/prix ex : 10:23.90,20:52.30,1000:99. Soit au format montant panier/prix ex : 20€:5.90,40€:9.90,150€:15.90</comment>
                        </JD_amount>
                        <JD_free>
                        	<label>Minimum d'achat pour TNT 24h en Relais Colis® offert</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>34</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment>ex : 150</comment>
                        </JD_free>
                        <corse_amount>
                        	<label>Supplément pour les envois vers la Corse</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>                            
                        </corse_amount>
                        <corse_free>
                        	<label>Minimum d'achat pour supplément pour les envois vers la Corse offert</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>36</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>                            
                        </corse_free>
                        <specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </specificerrmsg>                        
                        <showmethod translate="label">
                            <label>Show Method if Not Applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>92</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </showmethod>
                        <debug translate="label">
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>92</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                </tnt>                
            </groups>
        </carriers>
    </sections>
</config>
